.jumbotron
  h1.hi.bar
    | Welcome to phoenix

  p(style="background:blue"
  role="foo") Hello world, this is Phoenix. :( Sup

.col-md-6
  h3 This is cool
  | High Performance Servers with FREE Quadruple RAM upgrade and FREE native CDN. At Voxel, Deploy dedicated servers globally in minutes to power your applications, starting at 199 a month.

